force-app/main/example/flows/Summarize_Case_Comments.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Summarize the Thread</description>
        <name>Summarize_Thread</name>
        <label>Summarize Thread</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <actionName>OAIChatInvokable</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Display</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>messages</name>
            <value>
                <elementReference>OAI_Messages</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>system_message</name>
            <value>
                <elementReference>Instructions</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OAIChatInvokable</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <description>Append Each comment to the end of the thread</description>
        <name>Add_Comment_to_Thread</name>
        <label>Add Comment to Thread</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Case_Comment_Thread</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Comment_Template</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Comment_Thread</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Setup_OAI_Messages</name>
        <label>Setup OAI Messages</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>User_Message.role</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>user</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>User_Message.content</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Case_Details_Template</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OAI_Messages</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>User_Message</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Summarize_Thread</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel
  >Summarize Case Comments {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Summarize Case Comments</label>
    <loops>
        <description
    >Joins the comments together into a single message</description>
        <name>Create_Comment_Thread</name>
        <label>Create Comment Thread</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>GetCaseComments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Comment_to_Thread</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Preview</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetCaseComments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseComments</name>
        <label>Get Comments</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound
    >false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Comment_Thread</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CaseComment</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CommentBody</queriedFields>
        <queriedFields>CreatedById</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display</name>
        <label>Display</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Thread</name>
            <fieldText
      >&lt;p&gt;{!Summarize_Thread.CompletionContent}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Preview</name>
        <label>Preview</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Setup_OAI_Messages</targetReference>
        </connector>
        <fields>
            <name>display_message</name>
            <fieldText>&lt;p&gt;GPT Assistant:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Instructions</name>
            <defaultValue>
                <stringValue>Provide a brief summary of the Case</stringValue>
            </defaultValue>
            <fieldText>Instructions</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn
      >UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Run</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Case_Details_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text
    >&lt;p&gt;Case Number: {!Get_Case.CaseNumber}&lt;/p&gt;&lt;p&gt;Subject: {!Get_Case.Subject}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Type: {!Get_Case.Type}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Status: {!Get_Case.Status}&lt;/p&gt;&lt;p&gt;Reason: {!Get_Case.Reason}&lt;/p&gt;&lt;p&gt;Origin: {!Get_Case.Origin}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Details:&lt;/p&gt;&lt;p&gt;&quot;&quot;&quot;&lt;/p&gt;&lt;p&gt;{!Get_Case.Comments}&lt;/p&gt;&lt;p&gt;&quot;&quot;&quot;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Comments:&lt;/p&gt;&lt;p&gt;&quot;&quot;&quot;&lt;/p&gt;&lt;p&gt;{!Case_Comment_Thread}&lt;/p&gt;&lt;p&gt;&quot;&quot;&quot;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>Comment_Template</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text
    >&lt;p&gt;{!Create_Comment_Thread.CreatedBy.Email} ({!Create_Comment_Thread.CreatedDate}):&amp;nbsp;{!Create_Comment_Thread.CommentBody}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>Case_Comment_Thread</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OAI_Messages</name>
        <apexClass>OAIMessage</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_Message</name>
        <apexClass>OAIMessage</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
